.side-bar {
  width: 100%;
  padding: 2rem 0;
  grid-area: side-bar;
  background-color: var(--primary_color);
  .fontawsome-icon {
    margin: 0 1rem 0 2rem;
  }
  .option {
    font-size: 1.4rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem 1rem;
    cursor: pointer;
    &:hover {
      color: var(--secondary_color);
    }
    &.selected {
      color: var(--secondary_color);
      background-color: var(--active_color);
    }
  }
  .sidebar-header {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  .seprator {
    margin: 4rem auto;
    max-width: 15rem;
  }
}
