.button-more {
  color: var(--secondary_color);
  background: var(--accent_color);
  border: 0;
  outline: none;
  cursor: pointer;
  padding: 1rem 6rem;
  font-size: 1.2rem;
  font-weight: bold;
  direction: rtl;
  border-radius: 2rem;
  margin: 0 auto;
  &:active {
    filter: brightness(0.95);
  }
}
