.server-details-page {
  font-size: 3rem;
  padding: 0.5rem 3rem 1rem 0;
  display: grid;
  grid-template-columns: 8fr 3fr;
  grid-template-rows: 12rem 10rem 35rem;
  grid-template-areas:
    "header  user-services"
    "server-statics  user-services"
    "server-chart   user-services";
  gap: 2rem 4rem;
}
