.header {
  font-size: 1.2rem;
  grid-area: header;
  background-color: var(--primary_color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: center;

  .option {
    color: var(--text_color);
    text-decoration: none;
    margin: auto 1rem;
    &:hover,
    &.uniqe-option {
      color: var(--secondary_color);
    }
  }
}
