@font-face {
  font-family: "yekan";
  src: url("./assets/fonts/iranyekanweblight.ttf");
  font-weight: normal;
  font-style: normal;
}
:root {
  /* color variables : */
  --primary_color: white;
  --secondary_color: #7167a2;
  --accent_color: #d9d0fd;
  --active_color: #f9f6fd;
  --background_color: #f1f4fd;
  --button_color: #80adfd;
}
*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
  font-family: "yekan", Arial, Helvetica, sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background_color);
}

.fontawsome-icon {
  margin: 0 0.7rem;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
