.server-details-header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: flex-end;
  .title {
    font-size: 3rem;
    display: flex;
    align-items: center;
    span {
      background-color: red;
      display: inline-block;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      margin: 0 0.5rem;
    }
  }
  .ip {
    font-size: 1.3rem;
    align-self: flex-start;
    margin: 1rem;
    span {
      color: red;
    }
  }
  &.active {
    .ip {
      span {
        color: lightgreen;
      }
    }
    .title {
      span {
        background-color: lightgreen;
      }
    }
  }
}
