.select-resource-range-item {
  direction: ltr;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .range {
    flex: 0.5;
  }
  .name {
    font-size: 1.4rem;
    flex: 0.5;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .fontawsome-icon {
      width: 2.5rem;
      height: 2.5rem;
      padding: 5px;
      border-radius: 50%;
    }
  }
}
