.message {
  width: 100%;
  background-color: var(--active_color);
  direction: rtl;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  &.detailed-message {
    justify-content: space-between;
  }
  p {
  }
}
